
nav {
    box-shadow: 0 2px 5px var(--dark);
    padding: 0.5rem 1rem;
}
.links a {
    margin: 0 1rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 5px 0;
}

.links a::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: left 0.5s;
}
.links a:hover::before{
    left: 0;
    
}