:root {
    --main_color: #1978b0;
    --purple: #7d42b7;
    --black: #554a4a;
     } 

.container_repo p {
    text-align: center;
}


.links_repo {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 10px;
    padding: 1rem;
    margin: 10px 0;
}

.repo_wrapper a {
    background: var(--main_color);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    box-shadow: 0 0 5px #ccc;
}

.repo_wrapper a:hover {
    box-shadow: 0 0 5px #777;
}

h2 {
    margin: 14px 0;
}

.cm7 .links_repo {
    box-shadow: 0 0 3px crimson;

}
.cm7 a {
    background-color: crimson;
}

.cm5 .links_repo {
    box-shadow: 0 0 3px var(--main_color);
}
.cm5 a {
    background-color: var(--main_color);
}

.cm3 .links_repo {
    box-shadow: 0 0 3px var(--purple);

}
.cm3 a {
    background-color: var(--purple);
}

.cm4 .links_repo {
    box-shadow: 0 0 3px var(--black);

}

.cm4 a {
    background-color: var(--black);
}