* {
    font-family: arial;
}

body {
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


textarea {
    width: 48%;
    height: 200px;
    resize: none;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 5px #aaa;
    padding: 5px; 
    transition: border 0.3s;
}
textarea:hover {
    border-color: #aaa;
}

#convert {
    padding: 8px 0;
    font-size: 1rem;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    width: 100%;
    border: 1px solid #aaa;
}

